# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./SourceCode/h3/norm_vectors_image_1920_1080.ppm
./SourceCode/h3/norm_vectors_image_3000_1080.ppm
./SourceCode/h3/norm_vectors_image_6000_2000.ppm
